APP_ENV=production
# =========================
# login
# ========================
LOGIN_USERNAME=
LOGIN_PASSWORD=
REGISTER_WITH_EVIDENCIA=true
USER_NAME=
USER=''
LOGIN_GOOGLE_EMAIL=

# =========================
# sentinel
# ========================
LOGIN_URL=https://fuvexbn.a365.com.pe:7443/index.php
SENTINEL_URL=https://fuvexbn.a365.com.pe:7443/general/menu.php
SENTINEL_REFRESH_SECS=10
SENTINEL_CHECK_SELECTOR='a[href="cerrars.php"]'
SENTINEL_RELOGIN_ON_FAIL=true
LOGIN_USER_SELECTOR=#USUARIO
LOGIN_PASS_SELECTOR=#password
LOGIN_SUBMIT_SELECTOR='form#login button[type="submit"]'
LOGIN_STEP_DELAY=2
LOGIN_REDIRECT_TIMEOUT=1
LOGIN_SUCCESS_URL_CONTAINS=/general/menu.php
MENU_URL=https://fuvexbn.a365.com.pe:7443/general/menu.php
LOGIN_URL=https://fuvexbn.a365.com.pe:7443/index.php
CDP_ENDPOINT=http://127.0.0.1:9222
FUVEX_BASE=https://fuvexbn.a365.com.pe:7443
FILTER_BUSCAR_URL=https://fuvexbn.a365.com.pe:7443/BN/buscar_filtro.php
FILTER_INGRESAR_URL=https://fuvexbn.a365.com.pe:7443/BN/ingresar_filtro.php
REGISTRAR_CLIENTE_URL=https://fuvexbn.a365.com.pe:7443/BN/Registro_Prospecto_BN.php
PORTABILIDAD_URL=https://consulta.portabilidad.pe/?handler=Check
EVIDENCIAS=https://santiago305.github.io/creador-de-evidencias
REGISTER_WITH_EVIDENCIA=true
X_DNI_INPUT=//*[@id="DNI_CLIENTE"]
X_TEL1_TIT_SELECT=#TEL1_TIT
X_TEL1_OPERADORA=#TEL1_OPERADORA

EXCELS_BASE_PATH=\\SAMSUNG-PC\xxxxxxxxxxx\fuvexbn

WHATSAPP_IMAGE_PATH=\\SAMSUNG-PC\xxxxxxxxxxx\prestamo2.png

TYPE_DELAY_MS=10
BETWEEN_DNI_MS=10
WAIT_VISIBLE_MS=5000
FEEDER_REFRESH_EVERY=30
FEEDER_REFRESH_SECONDS=30
FEEDER_REFRESH_JITTER_MS=1500
EXCEL_STATUS_BATCH_MAX=10
EXCEL_STATUS_BATCH_SECONDS=30
