# decide si se registra con evidencias o sin evidencias
REGISTER_WITH_EVIDENCIA=true
# true: permite registrar usando FTELEFONO cuando TELEFONO esté vacío
# false: registra solo si hay TELEFONO
REGISTER_FTELEFONO=false
# true: permite crear evidencia usando FTELEFONO cuando TELEFONO esté vacío
# false: solo crea evidencia cuando TELEFONO tenga valor
EVIDENCE_FTELEFONO=false
# decide si filtra, registra o ambos
# 1 = solo filtrar
# 2 = solo registrar
# 3 = filtrar y registrar
FILTER_AND_REGISTER=3
EVIDENCIAS_DEFAULT_TASA=15.49
EVIDENCIAS_DEFAULT_PLAZO=60
# true: crea evidencia solo para filas con WHATSAPP=SI
# false: crea evidencia para todas las filas (WHATSAPP=SI y WHATSAPP=NO)
WHATSAPP_TELEFONO=true
# =========================
# login
# ========================
LOGIN_USERNAME=
LOGIN_PASSWORD=
USER_NAME=
USER=''
LOGIN_GOOGLE_EMAIL=yacilasandovalgeorgesantiago@gmail.com
# =========================
# sentinel
# ========================
LOGIN_URL=https://fuvexbn.a365.com.pe:7443/index.php
LOGIN_USER_SELECTOR=#USUARIO
LOGIN_PASS_SELECTOR=#password
LOGIN_SUBMIT_SELECTOR='form#login button[type="submit"]'
LOGIN_STEP_DELAY=2
LOGIN_REDIRECT_TIMEOUT=1
LOGIN_SUCCESS_URL_CONTAINS=/general/menu.php
APP_ENV=production
SENTINEL_URL=https://fuvexbn.a365.com.pe:7443/general/menu.php
SENTINEL_REFRESH_SECS=10
SENTINEL_CHECK_SELECTOR='a[href="cerrars.php"]'
SENTINEL_RELOGIN_ON_FAIL=true
MENU_URL=https://fuvexbn.a365.com.pe:7443/general/menu.php
LOGIN_URL=https://fuvexbn.a365.com.pe:7443/index.php
CDP_ENDPOINT=http://127.0.0.1:9222
FUVEX_BASE=https://fuvexbn.a365.com.pe:7443
FILTER_BUSCAR_URL=https://fuvexbn.a365.com.pe:7443/BN/buscar_filtro.php
FILTER_INGRESAR_URL=https://fuvexbn.a365.com.pe:7443/BN/ingresar_filtro.php
REGISTRAR_CLIENTE_URL=https://fuvexbn.a365.com.pe:7443/BN/Registro_Prospecto_BN.php
PORTABILIDAD_URL=https://consulta.portabilidad.pe/?handler=Check
EVIDENCIAS=https://santiago305.github.io/creador-de-evidencias
X_DNI_INPUT=//*[@id="DNI_CLIENTE"]
X_TEL1_TIT_SELECT=#TEL1_TIT
X_TEL1_OPERADORA=#TEL1_OPERADORA
EXCELS_BASE_PATH=\\SAMSUNG-PC\xxxxxxxxxxx\fuvexbn
TYPE_DELAY_MS=10
BETWEEN_DNI_MS=10
WAIT_VISIBLE_MS=5000
FEEDER_REFRESH_EVERY=30
FEEDER_REFRESH_SECONDS=30
FEEDER_REFRESH_JITTER_MS=1500
EXCEL_STATUS_BATCH_MAX=10
EXCEL_STATUS_BATCH_SECONDS=30
